<form autocomplete="off">
  <div class="attribute-bonuses">
    <label>{{localize 'OSE.scores.phys.long'}}</label>
    <ol>
      <li>
        {{localize 'OSE.Melee'}} ({{mod data.scores.phys.mod}})
      </li>
      <li>
        {{localize 'OSE.exploration.od.long'}} ({{data.exploration.odMod}} in 6)
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'OSE.scores.mind.long'}}</label>
    <ol>
      <li>
        {{localize 'OSE.SpokenLanguages'}} ({{localize data.languages.spoken}})
      </li>
      <li>
        {{localize 'OSE.Literacy'}} ({{localize data.languages.literacy}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'OSE.scores.pres.long'}}</label>
    <ol>
      <li>
        {{localize 'OSE.NPCReaction'}} ({{mod data.scores.pres.npc}})
      </li>
      <li>
        {{localize 'OSE.RetainersMax'}} ({{add data.scores.pres.mod 4}})
      </li>
      <li>
        {{localize 'OSE.Loyalty'}} ({{add data.scores.pres.mod 7}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'OSE.scores.skill.long'}}</label>
    <ol>
      <li>
        {{localize 'OSE.Initiative'}} ({{mod data.scores.skill.init}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'OSE.scores.phys.long'}}</label>
    <ol>
      <li>
        {{localize 'OSE.Health'}} ({{mod data.scores.phys.mod}})
      </li>
    </ol>
  </div>
</form>